@font-face {
	font-family: Rum Raisin;
	src: url('https://fonts.gstatic.com/s/rumraisin/v8/nwpRtKu3Ih8D5avB4h2uF3iCyg.woff2');
}

:root {
	/* declear variables */
	background-color: sandybrown;
	font-family: Rum Raisin;
}

body {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 10px;
	display: grid;
	grid-gap: 1vh;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px 100px;
	grid-template-areas:
		"a c c c"
		"b c c c"
		"b c c c";
}


h1 {
	font-size: 48px;
	margin-top: 0px;
	margin-bottom: 0px;
}


label {
	margin-left: 10px;
	font-size: 24px;
	padding: 5px;
}

div {
	margin: 5px;
}

span{
	font-size: 24px;
}


select {
	padding: 0px 10px 0px 10px;
	cursor: pointer;
}

input::-webkit-inner-spin-button {
	cursor: pointer;
}

.input_item {
	font-size: 20px;
	font-family: Rum Raisin;
	text-align-last: center;
	color: black;
	border: 4px solid #6f6f53;
	border-radius: 4px;
	background-color: #aaaa7f;
	cursor: pointer;
}

.input_item:disabled {
	background-color: #7c7c5d;
}

#aim{
	position: absolute;
	cursor: move;
}


#export_canvas {
	background-color: #ffffff;
	display: none;
}

#world {
	background-color: #d0c570;
}

canvas {
	width: 100%;
	height: 100%;
	grid-area: c;
}

#control {
	position: absolute;
	grid-area: b;
	text-align: left;
	margin-left: 10px;
	border-style: dashed;
	border-color: antiquewhite;
	bottom: 10px;
	top: 50px;
	overflow-y: auto;
	
}

#title {
	grid-area: a;
	text-align: center;
}

#control_buttons{
	margin-top: 10px;
}

#arrow{
	position: absolute;
	right: 10px;
	bottom: 10px;
}

button {
	text-align: center;
	margin-right: 5px;
	margin-top: 5px;
}

#angle_slider,#transparency_slider {
	margin: 2px 0px 0px 15px;
	-webkit-appearance: none;
	background: #aaaa7f;
	outline: none;
	opacity: 1;
}

#color:disabled{
	cursor: no-drop;
}

#name{
	font-size: 10px;
}


/*http://www.csscheckbox.com/checkbox/44700/solstice-bold-checkbox/ */
input[type=checkbox].css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 10px 0px 0px 0px;
	border: 0;
}

input[type=checkbox].css-checkbox+label.css-label {
	margin-left: 0px;
	padding: 0px 0px 0px 29px;
	height: 24px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: sub;
	cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
	background-position: 0 -24px;
}

label.css-label {
	background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_4f6bc9a7cc47504b9c36e04aa489f19e.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
